.product-preview-card {
  &__title {
    font-style: bold;
    color: black;
  }

  &__description {
    color: red;
    
  }

  &__image {
    width: 10rem;
  }

  &__price {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 0px;
  }
}
